#!/bin/bash
export GUARDIAN_SECRET_KEY=****
export DB_USER=****
export DB_NAME=****
export DB_PASSWORD=****
export API_AUTH_HOST=****
export API_AUTH_PORT=****
export API_PASSWORD=****
export API_USER=****
